In [5]:
import pandas as pd
from pandas import Series

In [7]:
data = [10,20,30,40,50]
labels = ['a','b','c','d','e']
t=pd.Series(data=data,index=labels)
print(t)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [10]:
data = [10,20,30,40,50]
labels = ['a','b','c','d','e']
t=pd.Series(data=data,index=labels)
finder = t.iloc[2]
print(finder)
finders=t.loc['b']
print(finders)

30
20

In [20]:
data1=[5,10,15,20]
labels1=['w','x','y','z']
t=pd.Series(data=data1,index=labels1)
data2=[2,4,6,8]
labels2=['w','x','y','p']
p=pd.Series(data=data2,index=labels2)
sum = t.add(p,fill_value=0)
print(sum)
sub=t.subtract(p,fill_value=0)
print(sub)

p     8.0
w     7.0
x    14.0
y    21.0
z    20.0
dtype: float64
p    -8.0
w     3.0
x     6.0
y     9.0
z    20.0
dtype: float64

In [27]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace']
}
df=pd.DataFrame(data)

first=df.head(3)
print(first)
last=df.tail(2)
print(last)

      Name
0    Alice
1      Bob
2  Charlie
    Name
5  Frank
6  Grace

In [42]:
data=[15, 22, 15, 30, 22, 45, 30, 15]
t=pd.Series(data)
unique=t.unique()
nunique=t.nunique()
print(unique)
print(nunique)

[15 22 30 45]
4

In [54]:
data = {
    'Item':[ "Computer", "Fan", "Chip", "Power", "Card"
    ],
    "Cost":[100,200,300,400,500]
}
t=pd.DataFrame(data)
t['Tax']=t['Cost']*0.1
t['Total']=t['Cost'] + t['Tax']
filter  = t[t['Total']>50]
print(filter)

       Item  Cost   Tax  Total
0  Computer   100  10.0  110.0
1       Fan   200  20.0  220.0
2      Chip   300  30.0  330.0
3     Power   400  40.0  440.0
4      Card   500  50.0  550.0

In [61]:
data = {
    'Product': ['Laptop', 'Mouse', 'Desk', 'Chair', 'Monitor', 'Keyboard',
                'Lamp', 'Notebook', 'Pen', 'Headphones'],
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture',
                 'Electronics', 'Electronics', 'Furniture', 'Stationery',
                 'Stationery', 'Electronics'],
    'Price': [800, 25, 300, 450, 350, 60, 80, 5, 2, 150],
    'Stock': [15, 50, 8, 12, 20, 35, 25, 100, 200, 30]
}
t=pd.DataFrame(data)
isnull=t.isnull()
count=t.value_counts('Category')
exp=t.nlargest(3,'Price')
cheap=t.nsmallest(2,'Price')
print(t.shape)
print(t.ndim)

(10, 4)
2

In [98]:
data = {
    'Student': ['Alice', 'Alice', 'Bob', 'Bob', 'Charlie', 'Charlie',
                'David', 'David', 'Eve', 'Eve', 'Alice', 'Bob'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math', 'Science',
                'Math', 'English', 'Science', 'English', 'English', 'English'],
    'Score': [85, 92, 78, 88, 95, 89, 72, 80, 91, 87, 88, 75],
    'Attendance': [95, 90, 85, 92, 98, 96, 80, 78, 93, 88, 92, 83]
}
t=pd.DataFrame(data)
drop = t.drop_duplicates(subset='Student', keep='first')
index = drop.set_index('Student')

print(index[index['Score'].between(70,90)])

        Subject  Score  Attendance
Student
Alice      Math     85          95
Bob        Math     78          85
David      Math     72          80